:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --titles-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --footer-bacground-color: #2f303a;
  --border-color: #eeeeee;
  --icon-fill-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ================= HEADER ================= */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 92px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titles-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 28px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
  text-align: center;
}

/* ================= END HEADER ================= */

/* ================= HERO ================= */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;

  color: var(--secondary-text-color);
  width: 696px;
}

.modal-btn {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 0px 32px;

  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.hero-background {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/backgound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--footer-bacground-color);
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  margin: 0 auto;
}

/* ================= END HERO ================= */

/* ================= ADVANTAGES ================= */

.advantages {
  padding-top: 94px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--button-background-color);
}

.advantages-symbol {
  width: 70px;
  height: 70px;
}

.advantages-list {
  display: flex;
  padding-bottom: 0;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.advantages-list-item {
  width: 270px;
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--titles-color);
}

.advantages-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
/* ================= END ADVANTAGES ================= */

/* ================= ABOUT US ================= */

.about-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.about-list-item {
  margin-left: 30px;
  margin-top: 30px;
}

.about-image-wrapper {
  position: relative;
}

.about-img-description {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* ================= END ABOUT US ================= */

/* ================= OUR TEAM ================= */

.our-team {
  background: var(--button-background-color);
}

.our-team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.our-team-list-item {
  flex-basis: calc((100%-120px) / 4);
  margin-left: 30px;
  margin-top: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-text-color);
}

.our-team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--titles-color);
}

.our-team-list-content {
  padding: 30px 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.our-team-positions {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  margin-bottom: 16px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-fill-color);
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon {
  fill: var(--secondary-text-color);
}

/* ================= END OUR TEAM ================= */

/* ================= OUR CLIENTS ================= */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.client-company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-company-link:hover,
.client-company-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.company-logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* ================= END OUR CLIENTS ================= */

/* ================= FOOTER ================= */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.footer-contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-link-color);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.join-container {
  display: block;
}

.join-list {
  display: flex;
  justify-content: space-between;
}

.join-social:not(:last-child) {
  margin-right: 10px;
}

.join-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--accent-color);
}

.join-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text-color);
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

/* ================= END FOOTER ================= */

/* ================= COMPONENTS ================= */

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.header-logo-second {
  color: var(--titles-color);
}

.footer-logo-second {
  color: var(--secondary-text-color);
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--titles-color);
}

.footer-background {
  background-color: var(--footer-bacground-color);
}

/* ================= END COMPONENTS ================= */

/* ================= PORTFOLIO BUTTONS ================= */

.portfolio-modal-btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 0 22px;
  color: var(--titles-color);
  background: var(--button-background-color);
  border-radius: 4px;
  list-style: none;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button-list:not(:last-child) {
  margin-right: 8px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-modal-btn:hover,
.portfolio-modal-btn:focus {
  color: var(--secondary-text-color);
  background: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ================= END PORTFOLIO BUTTONS ================= */

/* ================= PROJECT LIST =================*/

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--titles-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list-link {
  display: block;
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06);
}

.project-list-content {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  transform: translateY(0%);
}

/* ================= END PROJECT LIST ================= */

/* ================= MODAL WINDOW ================= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-text-color);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ================= END MODAL WINDOW ================= */
